body{
	background-image: url(../img/wood-planks-wood-wood-texture.jpg);
	color: #8F6E1A;
	font-family: '', cursive;
	font-size: 18px;
}



.nav-menu{
	font-size: 20px;
	font-family: 'MedievalSharp', cursive;
}

p{
	text-align: justify;
}

header{
	margin-top: 20px;
}

#info{
	border: 1px #FFFFFF solid;
}

#info td{
	padding-right: 15px;
} 

fieldset{
	padding: 10px;
	border: 1px #FFFFFF solid;
	border-radius: 6px;
}

legend{
	text-align: center;
	border: 1px #FFFFFF solid;
	border-radius: 6px;
	padding-left: 5px;
}

.btn-default{
	border: 1px #868684 solid;
	background-color: #80807E;
	color: #FFFFFF;
}


.btn-default:hover{
	background-color: #80807E;
	background-color: #636262;
	color: #FFFFFF;
}

.dropdown-menu{
	background-color: #000000;
	border: #2E2E2E 1px solid;
}

.dropdown-item{
	color: #989797;
}

.dropdown-item:active{
	background-color: #3B3B3B;
}

[class*="col"] {
	padding: 12px 10px;
}

.admin{
	color:#FFFFFF; 
}

.mjolnir{
	width: 100%;
}
.container-font{
	min-height: 680px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	background-color:rgba(0,0,0,0.88);
}

.navbar-dark{
	background-color: #000000;
	margin-bottom: 20px;
}

.carousel-warrior{
	height: 400px;
}

.fb-comments{
	background-color: #FDFCFC;
	border: 1px #000000 solid;
	border-radius: 6px;
}

.test{
	border: 1px solid red;
}

.img-bottle{
	float: left;
	height:110px;
	margin-right: 8px;
}

#form-alcohol-free-rem, #form-beer-rem, #form-beer-res, #form-alcohol-free-res{
	display: none;
}


footer{
	color:#FFFFFF;
}

.down{
	margin-bottom: 20px;
}