body{
	background-image: url(../img/wood-planks-wood-wood-texture.jpg);
	color: #8F6E1A;
}

p{
	text-align: justify;
}

header{
	margin-top: 20px;
}

[class*="col"] {
	padding: 12px 10px;
}

.admin{
	color:#F1E20C; 
}
.content{
	min-height: 700px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	background-color: #000000;
}

.navbar-inverse{
	background-color: #000000;
}

.navbar-brand{
	width: 90px;
	height:90px;
}

.test{
	border: 1px solid red;
}

.img-bottle{
	float: left;
	height:110px;
	margin-right: 8px;
}

footer{
	color:#FFFFFF;
}

.down{
	margin-bottom: 20px;
}